html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(-45deg, #022609, #7fe2a3);
}

.main {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.mainContent {
  padding: 0;
  text-shadow: -2px -2px 5px #000, 2px -2px 5px #000, -2px 2px 5px #000,
    2px 2px 5px #000;
}

.mainContent:hover {
  cursor: default;
}

.mainContent h1 {
  margin: 0;
  font-family: "garamond", Times, serif;
  font-size: 15vh;
}

.mainContent h4 {
  margin: 0;
  font-family: "brush script mt", Times, serif;
  font-size: 5vh;
  letter-spacing: 2px;
}

.nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#navContent {
  background-image: linear-gradient(to top, #fff -100%, #444444 100%);
  border-top: #000 3px solid;
  border-right: #000 3px solid;
  border-left: #000 3px solid;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 100%;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 5vh;
}

@media only screen and (max-width: 800px) {
  #navContent {
    width: 100%;
    border-right: none;
    border-left: none;
    border-top: #000 3px solid;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navItemName {
  margin: 0;
  padding: 0;
}

.navItemName:hover {
  color: #5dd3cb;
  cursor: pointer;
}

.nav-item {
  text-shadow: -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000,
    2px 2px 2px #000;
  text-decoration: none;
  color: #fff;
}

.nav-item:hover {
  font-size: 5.2vh;
  cursor: pointer;
  color: #7fe2a3;
}
